html {
  height: 102%; /* always keep a scrollbar */
}
body {
  padding-bottom: 20px;
}
.navbar-default {
  margin-bottom: 0;
}
.navbar .nav a {
  font-weight: bold;
}
#loginForm {
  padding-right: 0;
}
.jumbotron {
  background: url(../img/finance-bg.jpg) no-repeat 0 50%;
  background-size: cover;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 0;
  text-shadow: White 0.1em 0.1em 0.3em;
}
.content {
  margin-top: 1em;
}
.nav>li>span {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav-tabs>li>span {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li.active>span {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.tab-content .panel {
  border-top: 0;
}